:root{
    font-family: Arial, Helvetica, sans-serif;
    --whiteish: hsla(235%, 5%, 95%, 1);
    --lightgrey: hsla(0%, 0%, 81%, 1);
    --darkgrey: hsla(240%, 1%, 66%, 1);
    --blackish: hsla(244%, 28%, 21%, 1);
    --brightblue: hsla(192%, 27%, 95%, 1);
        
}
