<h1><%= @category.name %> Ingredients</h1>
<em><%=link_to "Add", new_category_ingredient_path(@category.id)%> a new ingredient</em>

<div class="card-container">
    <% @category.ingredients.sort_by{|i| i.name}.each do |i| %>
        <%= render 'shared/ingredients_card',i:i %>
    <% end %>
</div>
    
