<h1> <%= @ingredient.substitutions.size%> Substitions for <%= @ingredient.name %></h1>

<h2> Substititions </h2>

<% @ingredient.substitutions.each do |s| %>
    <div>
        <p> <%= s.description %> </p>
    </div>
<% end %>
