/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 :root{
    
    --whiteish: hsl(0, 0%, 89%);
    --lightgrey: hsla(0, 0%, 81%, 1);
    --darkgrey: hsla(240, 1%, 66%, 1);
    --navgrey: hsla(240, 1%, 66%, 0.3);
    --blackish: hsla(244, 28%, 21%, 1);
    --megadarkgrey: hsl(0, 0%, 22%);
    --coralred: rgb(209, 80, 70);
    --darkred: rgb(148, 56, 49);
}

html {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    
    background: linear-gradient(to right, #4a4a4a, #555555); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--whiteish);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav{
    background-color: rgba(0,0,0,0.5);
    height: 5vh;
    width: 100vw;
    
   
}

nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin: 0 auto

}

.logo{

    text-decoration: none;
    color: var(--whiteish);
}
.big-card{
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.big-card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.7);
    padding: 30px;
    color: var(--whiteish);
    font-size: 1.2rem;
}
.big-card-text h1{
    color: var(--coralred);
    text-shadow: 1px 1px #000000;
}

input,select{
 background: rgba(0,0,0,0.5);
 font-family: 'Playfair Display', serif;
 border: 1px solid var(--whiteish);
 font-size: 1.1rem;
 color: var(--whiteish);
 padding: 10px;
 text-align: center;
 margin-top: 10px;
 width: 80%;
}
    

.subs{
    color: var(--coralred);
}

.big-title-container{
    margin: 0 auto;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--whiteish);
}
.big-title{
    margin: 0 auto;
    font-size: calc(70px + 1vw);
    font-style: italic;
    font-weight: 900;
    text-shadow: 5px 5px #000000;
    color: var(--whiteish)
}

a {
    position: relative;
    text-decoration: none;
    color: var(--coralred);
}

a:visited {
    color: var(--darkred);
}

a::before {
    content: "";
    position: absolute;
    height: 2px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background: var(--coralred);  
    opacity: 0.4;
}

a:hover {
    color: var(--coralred);
    transition: all 0.3s;
}
a:hover::before {
    background: var(--coralred);  
    opacity: 0.9;    
    transition: all 0.3s;         
}


.container{
    max-width: 100%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-card-container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
 justify-content: center;
 gap: 50px;

}

.category-card{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: space-between;
    margin: 10px;
    background-size: cover;
    width: 40%;
    min-width: 400px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
}


h1 h2{
    text-shadow: 1px 1px #000000;
}

label { 
    font-size: 1.2rem;
    padding-right: 10px;
    color: var(--coralred);
    width: 100px;
}

.sub-form {
    text-align: center;
    max-height: 70vh;
    width: 100%;

    
    display: grid;
    grid-template-columns: 10fr 10fr;
    grid-template-rows: 2fr 1fr;
  gap: 30px 30px;
    grid-template-areas:
    "top top"
    "other other";
}

@media (max-width: 700px) {
    .sub-form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}


.other { grid-area: other; }

.substitution {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    min-width: 500px;
}

.form-element{
    margin-bottom: 20px;
}
.category-card-info{
    color: var(--whiteish);
    height: 100%;
    flex-basis: content;
    background: rgba(0, 0, 0, 0.7);
    /* padding: 5%; */
}
.card-container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.card-info{
    height: 100%;
    flex-basis: content;
   
    padding: 5%;
}
.v-icon {
    color: green;
    height: 50px;

}
.v-icon img{
    max-width: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: var(--blackish);
    background-color: var(--lightgrey);
    padding: 15px;
    width: 400px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-info{
    height: 80%;
    flex-basis: content;
}

.card-controls{
    padding-top: 10px;
    text-align: center;
    vertical-align: bottom;   
}

.form-section{
    padding:20px;
}


.field_with_errors {
    display: table;
    border: 2px var(--coralred) solid;
    color: var(--coralred);

  }

.error-text{
    color: var(--coralred);
}

.flash-notice{
    text-align: center;
    width: 33%;
    margin: 0 auto;
    border: 2px var(--blackish) solid;
}

.flash-alert{
    text-align: center;
    color: var(--darkred);
    width: 33%;
    margin: 0 auto;
    border: 2px var(--coralred) solid;
}
