<h1><%= @category.name %> Substitutions</h1>
<% @category.ingredients.each do |i| %>
    <div>
        <h3><%= i.name %></h3>
        <p><%= i.description %></p>
        <% if i.substitutions.present? %>
            <%= link_to  "Substitutions", i %>
        <% end %>
    </div>
<% end %>
