<%= render "shared/flash" %>
<h1> Welcome to SwapChef</h1>
<div class="subtitle">When you want to cook without having having every darned ingredient!</div>

<div> <%= link_to "Browse Food categories", categories_path %>
<div> <%= link_to "See Last 5 Substitutions", substitutions_last_5_path %>


<div> <%= link_to "New Substitution", controller: "substitutions", action: "new" if current_user%></div>