<div class="welcome-container">
<%= render "shared/flash" %>
<h1 class="big-title"> <span class="subs">Subs</span>Chef</h1>
<div class="subtitle"><h2>When you want to cook without having having every darned ingredient!<h2> </div>

<h2> <%= link_to "Browse Food categories", categories_path %></h2>
<h2> <%= link_to "Latest 5 Substitutions", substitutions_last_5_path %></h2>


<div> <%= link_to "New Substitution", controller: "substitutions", action: "new" if current_user%></div>

</div>  